/* NewsDetail.css */

/* Full-screen modal overlay */
.news-detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content */
.news-detail-modal {
  max-width: 800px;
  width: 90%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-detail-modal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.news-detail-modal p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.news-detail-modal img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 20px;
}

.news-detail-modal a {
  display: block;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.news-detail-modal a:hover {
  text-decoration: underline;
}

/* Close button */
.close-button {
  position: absolute;
  /* top: 10px;
  right: 10px; */
  font-size: 50px;
  color: red;
  cursor: pointer;
  margin-top: -30px;
  font-weight: bold;
}
